.base-button {
    text-align: center;
    border-radius: var(--base-button-border-radius);
    border: var(--alpha-border);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--header-background-color);
}

.base-button:hover {
    background-color: var(--hover-background-color);
}

.edit-profile-button {
    min-width: 100%;
    box-sizing: border-box;
    padding: 0.25rem;
    font-size: 0.85rem;
    font-weight: normal;
}

.disabled-button {
    background-color: rgba(230, 230, 230, 0.2);
    color: var(--grey-color);
    pointer-events: none;
}