#editing {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: white;
    -ms-overflow-style: none;
    white-space: nowrap;
}

#highlighting {
    z-index: 0;
}

#editing, #highlighting {
    overflow: auto;
}

#editing::-webkit-scrollbar {
    display: none;
}