.organization-name-footer {
    margin: 0.5rem 1rem;
    padding: 0.4rem 3rem;
    border-radius: 0.5rem;
    color: var(--base-text-color);
}

.last-option {
    border-bottom: none !important;
}

.user-options {
    position: absolute;
    background-color: var(--header-background-color);
    justify-content: center;
    align-items: center;
}

.user-options:hover {
    background-color: var(--header-background-color) !important;
}

.user-option {
    list-style: none;
    padding: 0.5rem 0;
    border-bottom: var(--alpha-border);
}

.user-option:hover {
    background-color: var(--hover-background-color);
}

.user-option:nth-child(1) {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.last-option:nth-child(n) {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


.user-option-redirect {
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    text-decoration: none;
    color: var(--base-text-color);
    padding: 0.3rem;
}