<style>
  .error-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .error-component img {
    width: 50%;
  }

</style>

<div class="error-component">
  {{this}}
  <img src="/images/error.png" alt="error" />
</div>