<header>
    <div class="left-side-header">
        <a href="#" class="logo">
            <img
                    src="/public/icon.jpeg"
                    alt="logo"
                    width="5%"
            >
        </a>
        <label title="search-input">
            <input type="text" placeholder="Search...">
        </label>
        <nav>
            <a href="#">All gists</a>
            <a href="#">Back to ...</a>
        </nav>
    </div>
    <div class="right-side-header">
        <details class="user-options">
            <summary>
                <img alt="avatar"
                     src="https://avatars.githubusercontent.com/u/70910148?v=4"
                     width="3%"
                >
            </summary>
            <ul>
                <li><a href="#">Your profile</a></li>
                <li><a href="#">Your gists</a></li>
                <li><a href="#">Starred gists</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign out</a></li>
            </ul>
        </details>
    </div>
</header>