<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Я аниме девочка</title>
</head>
<body>
{% include "./base/outlines.html" %}
{% include "./base/header.html" %}
{% block content %}{% endblock %}
{% include "./base/footer.html" %}
</body>