.posts {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
}

.posts-snippet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.snippet-meta {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.posts-filters-list {
    margin-left: 1rem;
}

.post-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.post-changes-info {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    color: var(--grey-color)
}

.post-author, .post-name {
    color: var(--blue-color);
    text-decoration: none;
}

.post-last-change, .post-description {
    padding-top: 0.1rem;
    font-size: var(--normal-font-size);
}

.post-last-change {
    padding-top: 0.3rem;
}

.post-info {
    display: flex;
    margin-right: 2rem;
    color: var(--grey-color);
}

.post-info-item {
    list-style: none;
    margin: 0 0.5rem;
    padding: 0.2rem;
    font-size: var(--normal-font-size);
}

.post-content {
    padding: 1rem 0;
    border: var(--alpha-border);
    border-radius: var(--base-button-border-radius);
    user-select: none;

}

.code-line-number {
    padding: 0 2rem;
    width: 3%;
    color: var(--grey-color);
    font-size: var(--normal-font-size);
    font-family: var(--code-font-family);
    text-align: right;
}

.code-line-content {
    font-size: var(--normal-font-size);
    font-weight: unset;
    font-family: var(--code-font-family);
}

.code-table {
    width: 100%;
    border-collapse: collapse;
}

.post-content:hover {
    border-color: var(--blue-color);
}

.code-line:nth-child(odd) .code-line-number {
    color: #49d7c6;
}

.code-line:nth-child(even) .code-line-number {
    color: #59e571;
}

.new-post {
    width: 100%;
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    flex-direction: column;
}

.new-post-title {
    font-family: var(--code-font-family);
    margin: 2rem;
    justify-content: flex-start;
    width: 50%;
    text-decoration: underline;
    text-underline-offset: 0.15rem;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 1.5rem;
    border: var(--alpha-border);
    border-radius: var(--base-button-border-radius);
    font-size: var(--normal-font-size);
    width: 50%;
    margin-bottom: 5rem;
}

.new-post-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    font-family: var(--code-font-family);
    border: var(--alpha-border);
    border-radius: var(--base-button-border-radius);
    padding: 0.5rem;
    background-color: var(--footer-background-color);
    outline: none;
    color: white;
}

.new-post-item::placeholder {
    color: var(--grey-color);
}

.new-post-item:hover {
    border-color: var(--blue-color);
    outline: none;
}

.new-post-content {
    resize: none;
    height: 20rem;
}

.new-post-submit {
    margin-top: 1rem;
}
