:root {
    --background-color: #0d1117;
    --header-background-color: #161b22;
    --footer-background-color: #161b22;
    --hover-background-color: #21262d;
    --base-border: #e6e6e6 0.1rem solid;
    --base-text-color: white;
    --base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --out-of-border-indent: 1rem;
    --base-button-border-radius: 0.5rem;
    --base-button-border: var(--base-border);
    --alpha-color: rgba(230, 230, 230, 0.2);
    --grey-color: #8b949e;
    --alpha-border: 0.1rem solid var(--alpha-color);
    --blue-color: #58a6ff;
    --normal-font-size: 0.8rem;
    --code-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
}

html {
    background-color: var(--background-color);
    color: var(--base-text-color);
    height: 100%;
}

body {
    height: 100%;
}

main, footer, header {
    padding: 0 var(--out-of-border-indent);
    width: auto;
    display: flex;
}

header {
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
}

main {
    margin-left: 3rem;
    min-height: calc(100% - 8.6rem);
    box-sizing: content-box;
    flex-direction: row;
}

footer {
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .user-profile {
        align-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .posts {
        width: revert;
    }

    .user-editable-content {
        width: 100%;
        padding: 0;
    }

    .user-editable-content > * {
        margin: 0 10rem;
    }

    .user-profile {
        padding-bottom: 0;
    }

    .followers-sort {
        align-self: center !important;
    }

}

footer {
    background-color: var(--footer-background-color);
    align-items: center;
}
