* {
    /*outline: 1px solid red;*/
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/

    /* fixme: change font */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    background-color: #0d1117;
}

main {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #0d1117;
    color: white;
    padding-left: 4rem;
    height: 40rem;
}

section {
    margin: 0;
    padding: 0;
    /*display: none;*/
}

.gist-profile {
    width: 15rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    text-align: left;
}

main .gist-user-avatar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .gist-user-avatar img {
    border-radius: 10rem;
    margin: 1rem;
    padding: 1.5rem;
    background-color: #161b22;
    border: 0.1rem solid #e6e6e6;
}

.gist-user-names, .gist-profile-editable-content {
    padding: 0.5rem 1rem;
}

.gist-user-names h3 {
    margin-top: 0.2rem;
}

.gist-profile-editable-content .gist-profile-about, .gist-profile-follows, .gist-profile-organizations, .gist-profile-contacts {
    margin: 0.5rem 0;
}

.gist-profile-follows {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gist-profile-follows a {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.gist-profile-organizations {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.gist-profile-organizations li {
    width: 100%;
    text-decoration: none;
    text-align: left;
}

.gist-profile-contacts a {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: left;
    outline: 0;
}

.gist-profile-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.gist-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3.3rem;

}

.gist-post {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.gist-snippet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 0.1rem solid rgba(230, 230, 230, 0.2);
    border-top: 0.1rem solid rgba(230, 230, 230, 0.2);
}

.gist-snippet-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    padding: 0.3rem 0;
}

.gist-snippet-meta li {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    width: 100%;
    text-align: center;
    font-size: 18px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: #161b22;
    border: 0.1rem solid #e6e6e6;
}

.gist-snippet-meta li a {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.gist-filter-gists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    margin-right: 2rem;
}

.gist-filter-gists summary {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 0.3rem 0;
    border: 1px solid white;
    background-color: #161b22;
    cursor: pointer;
}

.gist-filter-gists .gist-filter-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    width: 10rem;
    list-style: none;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    background-color: #161b22;
    border-radius: 1rem;
    border: 1px solid white;
    font-weight: bold;
}

.gist-filter-options a {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 0.2rem;
}

.gist-post-meta {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.gist-post-changes-info {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    color: #8b949e;
}

.gist-post-path {
    margin-top: 0.2rem;
    width: 100%;
}

.gist-post-author, .gist-post-name {
    color: #58a6ff;
    text-decoration: none;
    font-size: 1rem;
}

.gist-post-changes, .gist-post-description {
    padding-top: 0.1rem;
    font-size: 0.8rem;
}

.gist-post-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.3rem 0;
    margin-right: 2rem;
    color: #8b949e;
}

.gist-post-info li {
    list-style: none;
    margin: 0 0.5rem;
    padding: 0.2rem;
    font-size: 0.8rem;
}


.gist-post-content-code {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    border: 0.1rem solid rgba(230, 230, 230, 0.2);
    border-radius: 0.6rem;
}

.gist-code-table {
    font-size: 15px;
}

.gist-code-line-number {
    padding: 0 2rem;
    width: 3%;
}

.tab {
    padding-left: 30px;
}

