{% extends "layout.njk" %}

{% block content %}
    <main>
        <h1>main</h1>
        <article>
            article
        </article>
        <section>
            section
        </section>
        <aside>
            aside
        </aside>
        <code>
            import gigachad<br>
            giga = gigachad.GigaChad()<br>
            giga.giga()<br>
        </code>
        <ul>
            <li><strong>Пресс качат</strong></li> <!-- strong -- ультра важно -->
            <li><b>Бегит</b></li>
            <li><em>Турник</em></li> <!--- em -- ударение на его содержании -->
            <li><i>Анужумания</i></li> <!--- i -- текст, который отличается от обычной прозы -->
            <li>
                <del>Пунктик1</del>
            </li> <!-- del -- cross line -->
            <li>
                <ins>Пунктик2</ins>
            </li> <!-- ins -- underline -->
        </ul>
        <p>Не каждый может быть гигачад, только гигачад<sub> &lt;gigachad&gt;</sub></p>
    </main>
{% endblock %}